.button{
    font-size: 1.1em;
    border: none;
    border-radius: .3em;
    margin: 1px;
}

.button:active{
    background: #ccc;
}

.button.double{
    grid-column: span 2;
}

.button.operation{
    background: #fa8231;
    color: #ffffff;
}

.button.operation:active{
    background: #fa8231cc;
}

.button.teste{
    background: #000;
}